@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("../public/image/cloudy.jpg");
  @apply bg-cover bg-center bg-no-repeat relative;
}

#weather-more-information-container {
  background: rgba(56, 55, 55, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}

#search-by-country-input::placeholder {
  @apply text-gray-200;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  @apply text-gray-200 bg-transparent;
  -webkit-text-fill-color: rgba(229, 231, 235, 1);
  transition: background-color 5000s ease-in-out 0s;
  caret-color: rgba(229, 231, 235, 1);
  color: rgba(229, 231, 235, 1);
}
